:root {
  --main-color: #303030;
  --white-color: #fff;
  --orange-color: #ff6c00;
  --link-grey: #9da4bd;
  --link-black: #303030;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --trans-duration: 250ms;
  --text-title-color: #555555;
  --border-color: rgba(157, 164, 189, 0.4);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.slider-lines {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-lines__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.slider-lines__label {
  height: 12px;
}

.slider-lines-icon::after {
  content: "";
  display: inline-block;
  background-color: black;
  height: 2px;
}

.slider-icon-long::after {
  position: relative;
  width: 7px;
  left: 18px;
  background-color: var(--link-grey);
}

.slider-icon-short-1::after {
  position: relative;
  left: 18px;
  width: 7px;
  background-color: var(--link-grey);
}

.slider-icon-short-2::after {
  position: relative;
  left: 18px;
  width: 7px;
  background-color: var(--link-grey);
}

.active-line::after {
  width: 17px;
  left: 8px;
  color: var(--white-color);
}

.navbar__link {
  color: var(--white-color);
  transition: color var(--trans-duration) var(--timing-function);
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.navbar__link:hover, .navbar__link:focus {
  color: var(--orange-color);
}

.address__link {
  align-items: baseline;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 1.67;
  transition: color var(--trans-duration) var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--orange-color);
}

.contacts__info {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  transition: color var(--trans-duration) var(--timing-function);
}

.contacts__info:hover, .contacts__info:focus {
  color: var(--orange-color);
}

@media screen and (min-width: 768px) {
  .contacts__info {
    color: var(--white-color);
  }
}

@media screen and (min-width: 768px) {
  .contacts__info {
    font-size: 12px;
  }
}

.contacts__info:not(:last-child) {
  margin-bottom: 20px;
}

.link__text {
  margin-left: 20px;
}

.footer__link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-color);
  transition: color var(--trans-duration) var(--timing-function);
}

.footer__link:hover, .footer__link:focus {
  color: var(--orange-color);
}

@keyframes btnPulsation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color);
  background: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: var(--link-grey);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

.container {
  position: relative;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 84px 31px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .section {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    max-width: 1200px;
    padding: 130px 15px;
  }
}

.section__about {
  display: flex;
}

@media screen and (min-width: 1280px) {
  .section__features {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}

.btn {
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid var(--orange-color);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-color);
  background: var(--white-color) transparent;
  transition: background-color var(--timing-function) var(--trans-duration);
}

.btn:hover, .btn:focus {
  color: var(--white-color);
  background-color: var(--orange-color);
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
}

.btn--dark-theme {
  color: var(--white-color);
}

.about-btn {
  width: 163px;
  height: 40px;
  padding: 12px 20px;
}

.btn--centered {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .btn--centered {
    margin: 0;
    padding: 12px 38px;
  }
}

.header__burger-icon {
  right: 20px;
  transition: fill var(--timing-function) var(--trans-duration);
}

.header__burger-btn:hover .header__burger-icon,
.header__burger-btn:focus .header__burger-icon {
  fill: var(--orange-color);
}

@media screen and (min-width: 768px) {
  .btn-hidden {
    display: none;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.contacts__btn {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .contacts__btn {
    padding: 12px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__btn {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__btn {
    margin-left: 40px;
  }
}

.hero-section__btn {
  padding: 8px 0;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--white-color);
  background-color: transparent;
  outline: none;
  border-image: none;
  border: none;
  border-bottom: 1px solid;
}

.hero-section__btn:disabled {
  color: rgba(157, 164, 189, 0.6);
}

.hero-section__btn:hover {
  color: var(--orange-color);
}

.hero-section__btn:active {
  -webkit-animation: btnPulsation var(--trans-duration);
  animation: btnPulsation var(--trans-duration);
}

.hero-section__btn__back {
  color: var(--white-color);
  padding-right: 22px;
  margin-right: 26px;
  transition: color var(--timing-function) var(--trans-duration);
}

.hero-section__btn__forward {
  padding-left: 13px;
  transition: color var(--timing-function) var(--trans-duration);
}

.logo {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 4;
  display: inline-block;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .logo {
    fill: var(--white-color);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    fill: var(--main-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .logo {
    top: 32px;
    left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .backdrop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 480px;
    height: 100%;
    background-color: rgba(25, 28, 38, 0.2);
    transition-property: opacity;
    transition: var(--trans-duration) var(--timing-function);
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .backdrop {
    left: calc((100vw - 480px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    display: none;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (max-width: 767px) {
  .form {
    padding-left: 31px;
    padding-right: 31px;
    max-width: 480px;
  }
}

@media screen and (max-width: 1279px) {
  .form {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form {
    max-width: 768px;
    padding: 100px 39px;
  }
}

@media screen and (min-width: 768px) {
  .form__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .form__field:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .form__container .form__field {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form__container .form__field {
    width: 330px;
  }
}

.form__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 0 8px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  transition: border-bottom-color, var(--trans-duration), var(--timing-function);
}

.form__textarea {
  resize: none;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.form__field {
  display: block;
  margin-bottom: 44px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--white-color);
  overflow: auto;
  z-index: 1;
  transform: translate(0%, 0);
  transition: var(--timing-function) var(--trans-duration);
}

.mobile-menu.is-open {
  opacity: 1;
  z-index: 4;
  visibility: visible;
  pointer-events: auto;
  transform: translate(0%, 0%) scale(1);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu {
    transform: translate(-50%, 0%) scale(1.5);
  }
}

.mobile-menu__container {
  height: 796px;
  position: relative;
  padding: 118px 40px 38px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transition: opacity var(--trans-duration) var(--timing-function);
}

.mobile-menu__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 48px;
  right: 35px;
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
  fill: var(--main-color);
}

.mobile-menu__close-btn:hover .mobile-menu__close-icon,
.mobile-menu__close-icon:focus .mobile-menu__close-icon {
  fill: var(--orange-color);
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--main-color);
}

.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--orange-color);
}

.mobile-menu__list-item {
  font-family: Open Sans;
}

.mobile-menu__list-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__contacts {
  margin-top: 64px;
  margin-bottom: 54px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-phone {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
}

.mobile-menu__contacts-phone:hover, .mobile-menu__contacts-phone:focus {
  color: var(--orange-color);
}

.mobile-menu__socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mobile-menu__socials-item:nth-child(-n + 1) {
  margin-bottom: 10px;
}

.mobile-menu__socials-link {
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-color);
  transition: var(--timing-function), var(--trans-duration);
}

.mobile-menu__socials-link:hover, .mobile-menu__socials-link:focus {
  color: var(--orange-color);
}

@media screen and (max-width: 340px) {
  .mobile-menu {
    width: 100%;
  }
}

.mobile-menu__socials-item:first-child:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: var(--main-color);
}

.mobile-menu__socials-item:last-child {
  padding-left: 86px;
}

.section__sub-title {
  margin-bottom: 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .section__sub-title {
    display: flex;
    align-items: center;
  }
}

.section__sub-title::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: var(--main-color);
}

@media screen and (min-width: 768px) {
  .sub-title {
    line-height: 1.36;
  }
}

.sub-title--padding {
  padding-left: 80px;
}

@media screen and (min-width: 768px) {
  .sub-title--padding {
    padding-left: 5px;
  }
}

.sub-title--no-margin {
  margin-bottom: 0;
}

.sub-title--dark-theme {
  color: rgba(157, 164, 189, 0.6);
}

.sub-title--dark-theme::before {
  background: rgba(157, 164, 189, 0.6);
}

.section__title {
  margin-bottom: 44px;
  letter-spacing: 0.05em;
  font-size: 28px;
  line-height: 1.178;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .section__title--small {
    max-width: 330px;
  }
}

.section__title--dark-theme {
  font-size: 42px;
  line-height: 1.16;
  color: var(--white-color);
}

.section__title--light-theme {
  font-size: 42px;
  line-height: 1.16;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .section__title--centered {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 1279px) {
  .section__description {
    margin-bottom: 44px;
  }
}

.section__features-text {
  margin-bottom: 40px;
}

.title--small-margin {
  margin-bottom: 20px;
}

.section__text-title {
  margin-bottom: 20px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.67;
  color: var(--text-title-color);
}

@media screen and (min-width: 1280px) {
  .section__text-title {
    font-size: 18px;
    line-height: 1.67;
  }
}

.section__text-title--no-margin {
  margin-bottom: 0;
}

.about__text-content {
  margin-bottom: 40px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}

@media screen and (min-width: 1280px) {
  .about__text-content {
    width: 480px;
  }
}

.flexer-list {
  display: flex;
  transform: rotate(-90deg);
  margin-top: 553px;
}

.flexer-list__item {
  display: flex;
  align-items: center;
  transition: var(--trans-duration) var(--timing-function);
}

.flexer-list__link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-color);
  transition: var(--trans-duration) var(--timing-function);
}

.flexer-list__item:not(:last-child) {
  margin-right: 40px;
}

.flexer-list__item:first-child::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background: var(--main-color);
}

.flexer-list__link:hover {
  color: var(--orange-color);
}

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1280px;
  }
}

.header__container {
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 690px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .header__burger-btn {
    position: absolute;
    top: 48px;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 5;
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header__burger-icon {
    width: 24px;
    height: 16px;
    fill: var(--white-color);
  }
}

.holder {
  display: none;
}

@media screen and (min-width: 768px) {
  .holder {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 52px;
    left: 153px;
  }
}

.navbar {
  display: flex;
}

@media screen and (min-width: 768px) {
  .navbar {
    font-size: 12px;
    line-height: 1.33;
  }
}

.navbar__item:not(:last-child) {
  margin-right: 24px;
}

.contacts {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  top: -13px;
  right: -232px;
}

@media screen and (min-width: 1280px) {
  .contacts {
    flex-direction: row;
    right: -743px;
  }
}

.hero-background {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #fff, #d5d5d5, #aaaaab, #808082, #555558, #2b2b2e, #27272b, #232328, #1f1f25, #1b1a22, #17161f, #13121c);
  }
}

@media screen and (max-width: 767px) {
  .hero-flexer {
    background-image: linear-gradient(90deg, #fff, #d5d5d5, #aaaaab, #808082, #555558, #2b2b2e, #27272b, #232328, #1f1f25, #1b1a22, #17161f, #13121c);
  }
}

@media screen and (min-width: 768px) {
  .hero-flexer {
    display: flex;
    justify-content: flex-end;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-flexer {
    max-width: 1280px;
  }
}

.hero-flexer__slider {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-flexer__slider {
    display: inline-block;
    background: var(--white-color);
    width: 159px;
    height: 680px;
  }
}

.hero-section {
  position: relative;
  display: flex;
  height: 580px;
  min-width: 280px;
  max-width: 1125px;
}

@media screen and (max-width: 767px) {
  .hero-section {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 680px;
    min-width: 609px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    min-width: 1125px;
    height: 680px;
    padding: 40px 80px;
  }
}

.hero-section__bg-shadow {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
  background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

.hero-section__bg-img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
}

.hero-switch-img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .hero-switch-img {
    height: 580px;
  }
}

.hero-container {
  position: absolute;
  font-style: normal;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .hero-container {
    max-width: 306px;
    padding-top: 208px;
    margin-left: 31px;
  }
}

@media screen and (max-width: 479px) {
  .hero-container {
    max-width: 306px;
    padding-top: 208px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-container {
    max-width: 355px;
    padding-left: 80px;
    padding-top: 232px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 486px;
    padding-left: 45px;
    padding-top: 232px;
  }
}

.hero-container__subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero-container__subtitle::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: var(--border-color);
}

.hero-container__title {
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #fff;
}

@media screen and (max-width: 380px) {
  .hero-container__title {
    font-size: 42px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-container__text {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 1280px) {
  .hero-container__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (max-width: 767px) {
  .slider-lines {
    display: none;
  }
}

.hero-section__buttons {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

@media screen and (max-width: 767px) {
  .hero-section__buttons {
    display: none;
  }
}

.about {
  font-family: Open Sans, sans-serif;
  color: var(--main-color);
}

.about-us__list {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .about-us__list {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__list {
    display: flex;
    margin-right: 64px;
  }
}

@media screen and (max-width: 1279px) {
  .about-us__item:nth-child(-n + 1) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__item:nth-child(-n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .about__content {
    width: 500px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .features-list {
    width: 446px;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) and (max-width: 1280px) {
  .features-list {
    margin-left: auto;
    width: 480px;
  }
}

.features-list__item {
  width: calc((100% / 2) - 30px);
  height: 133px;
  margin: 15px;
  padding: 20px 30px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.35;
  background: #f7f7f7;
}

.features-list__item:nth-child(2n) {
  margin-top: 45px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    padding: 20px 40px;
  }
}

.item__figure {
  display: flex;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  font-size: 42px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #303030;
}

.item__decoration {
  color: #ff6c00;
  font-size: 16px;
  line-height: 1.37;
  top: -20px;
}

.item__text {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  text-align: center;
  letter-spacing: 0.01em;
}

.services {
  max-width: 480px;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #111319;
  background-image: url(../images/services/prices_mob-480.png);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .services {
    height: 826px;
    background-size: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .services {
    height: 826px;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) {
  .services {
    height: 718px;
    background-size: contain;
  }
}

@media screen and (min-device-pixel-ratio: 2), not all, screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/prices_mob-480@2x.png");
  }
}

@media (min-width: 768px) {
  .services {
    background-image: url("../images/services/prices_tab-768.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), not all, screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .services {
    background-image: url("../images/services/prices_tab-768@2x.png");
  }
}

@media (min-width: 1280px) {
  .services {
    background-image: url("../images/services/prices_desk-1280.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), not all, screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .services {
    background-image: url("../images/services/prices_desk-1280@2x.png");
  }
}

.section--padding-positioning {
  max-width: 480px;
  height: 100%;
  padding: 84px 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .section--padding-positioning {
    padding: 84px 31px;
  }
}

@media screen and (min-width: 768px) {
  .section--padding-positioning {
    max-width: 768px;
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .section--padding-positioning {
    max-width: 1200px;
    padding: 130px 15px;
  }
}

.services-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 15px;
  background: linear-gradient(180deg, #171a24, rgba(23, 26, 36, 0.2));
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .services-list {
    flex-direction: row;
    max-width: 1170px;
    padding: 0;
  }
}

@media screen and (max-width: 1279px) {
  .services__item--first {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .services__item--first {
    max-width: 585px;
    width: 100%;
    padding: 30px 40px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1280px) {
  .services__item--second {
    max-width: 585px;
    width: 100%;
    padding: 30px 40px;
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: inherit;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .services__item {
    font-size: 18px;
    line-height: 1.67;
  }
}

.services__line {
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 6px;
}

.team {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .section__masters {
    max-width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .section__masters {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1280px) {
  .members {
    display: flex;
    justify-content: center;
  }
  .members__item {
    flex-basis: calc((100% / 3) - 30px);
  }
  .members__item:nth-child(-n + 2) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .section__work {
    max-width: 768px;
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .section__work {
    max-width: 1200px;
    padding: 130px 15px;
  }
}

@media screen and (min-width: 768px) {
  .work-images {
    display: flex;
    flex-wrap: wrap;
  }
  .work-images__examples:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .work-images__examples:nth-child(3) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1279px) {
  .work-images__examples:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.members__title {
  margin-bottom: 8px;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  color: var(--main-color);
}

.members__item:not(:last-child) {
  margin-bottom: 64px;
}

.members__position {
  margin-bottom: 30px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--orange-color);
}

.members__box {
  padding-top: 30px;
}

.socials {
  display: flex;
  align-content: center;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: background-color var(--trans-duration) var(--timing-function);
}

.socials__link:hover {
  background-color: var(--white-color);
}

.socials__icon {
  transition: fill var(--trans-duration) var(--timing-function);
}

.socials__link:hover .socials__icon {
  fill: var(--orange-color);
}

.footer__container {
  background-color: #191c26;
}

@media screen and (min-width: 1280px) {
  .footer__top {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }
}

.contacts-wrapper {
  max-width: 480px;
  padding: 84px 31px;
}

@media screen and (max-width: 1279px) {
  .contacts-wrapper {
    margin-left: auto;
    margin-right: auto;
    background: url("../images/footer/footer-mob-480.png");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts-wrapper {
    max-width: 768px;
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-wrapper {
    position: relative;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 615px;
    height: 100%;
    background-image: url("images/page-footer/footer-bcg-625.png");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .contacts-wrapper::after {
    background-image: url("../images/page-footer/footer-bcg-1250.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), not all, screen and (min-resolution: 192dpi) and (max-width: 1279px), screen and (min-resolution: 2dppx) and (max-width: 1279px) {
  .contacts-wrapper {
    background-image: url("../images/footer/footer-mob-480@2x.png");
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .contacts-wrapper {
    background-image: url("../images/footer/footer-tab-768.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px), not all, screen and (min-resolution: 192dpi) and (max-width: 1279px), screen and (min-resolution: 2dppx) and (max-width: 1279px) {
  .contacts-wrapper {
    background-image: url("../images/footer/footer-tab-768@2x.png");
  }
}

.contacts-wrapper__title {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .contacts-wrapper__title {
    text-align: center;
  }
}

.contacts-wrapper__inner {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts-wrapper__inner {
    display: flex;
    justify-content: space-between;
  }
}

.address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .address {
    width: 270px;
    margin-bottom: 70px;
  }
}

.address__comma {
  display: none;
}

.address__icon {
  fill: transparent;
  fill-opacity: 0.7;
  stroke-width: 1px;
  stroke: var(--link-grey);
  margin-right: 20px;
}

.address__link:hover .address__icon {
  stroke: var(--orange-color);
}

.contacts__info:hover .address__icon {
  stroke: var(--orange-color);
}

@media screen and (min-width: 768px) {
  .address__second-part {
    display: block;
    margin-left: 44px;
  }
}

.phone,
.mail {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--link-grey);
}

.phone {
  justify-content: flex-start;
}

.mail {
  text-decoration: underline;
  font-size: 18px;
}

.holder__text {
  margin-bottom: 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
}

.holder__text::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: var(--border-color);
}

.holder__schedule {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer__bottom {
  padding: 44px 31px;
  background: var(--white-color);
}

@media screen and (min-width: 768px) {
  .footer__bottom {
    width: 768px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 56px 39px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .footer__bottom {
    width: 1200px;
  }
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 14px;
}

@media screen and (max-width: 767px) {
  .footer-list {
    margin-bottom: 20px;
  }
}

.footer-list::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background: var(--main-color);
}

.footer-list__item:not(:last-child) {
  margin-right: 40px;
}

.copyright {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--link-grey);
}
/*# sourceMappingURL=main.css.map */