.about {
  font-family: Open Sans, sans-serif;
  color: var(--main-color);
}

.about-us__list {
  margin-right: 30px;
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: 64px;
  }
}


.about-us__item:nth-child(-n + 1) {
 @media screen and (max-width: $desktop - 1px) {
  margin-bottom: 30px;
 }
 @media screen and (min-width: $desktop) {
   margin-right: 30px;
 }
}


.about__content {
  @media screen and (min-width: $tablet) {
    width: 330px;
  }
  @media screen and (min-width: $desktop) {
    width: 500px;
  }
}