.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: $mobile) {
    width: 446px;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      margin-left: auto;
      width: 480px;
    }
  }
}

.features-list__item {
  width: calc((100% / 2) - 30px);
  height: 133px;

  margin: 15px;
  padding: 20px 30px;

  box-sizing: border-box;
  text-align: center;

  font-weight: bold;
  font-size: 42px;
  line-height: 1.35;

  background: #f7f7f7;

  &:nth-child(2n) {
    margin-top: 45px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    padding: 20px 40px;
  }
}

.item__figure {
  display: flex;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  font-size: 42px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #303030;
}

.item__decoration {
  color: #ff6c00;
  font-size: 16px;
  line-height: 1.37;
  top: -20px;
}

.item__text {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: #303030;

  text-align: center;
  letter-spacing: 0.01em;
}
