.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop-hd) {
    width: 1280px;
  }
  &__container {
    z-index: 3;
    @media screen and (min-width: $tablet) {
    max-width: 690px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 1200px;
    }
  }
}
@media screen and (max-width: 767px) {
  .header__burger-btn {
    position: absolute;
    top: 48px;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 5;
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;

    // &.is-open {
    //   position: fixed;
    //   @media screen and (max-width: $mobile) {
    //     right: 31px;
    //   }
    // }
  }

  .header__burger-icon {
    width: 24px;
    height: 16px;
    fill: var(--white-color);
  }
}
.holder {
  display: none;
  @media screen and (min-width: $tablet) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 52px;
    left: 153px;
  }
}

// .nav {
//   margin-right: 47px;
// }

.navbar {
  display: flex;
  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.33;
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.contacts {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  top: -13px;
  right: -232px;
  @media screen and (min-width: $desktop-hd) {
    flex-direction: row;
    right: -743px;
  }
}
