.section__work {
  @media screen and (min-width: $desktop) {
    max-width: 768px;
    padding: 100px 39px;
  }
  @media screen and (min-width: $desktop-hd) {
    max-width: 1200px;
    padding: 130px 15px;
  }
}
@media screen and (min-width: $tablet) {
  .work-images {
    display: flex;
    flex-wrap: wrap;

    &__examples:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
}

.work-images {
  @media screen and (min-width: $desktop-hd) {
    &__examples:nth-child(3) {
      margin-left: 30px;
    }
  }
}
.work-images__examples:nth-child(-n + 3) {
  @media screen and (max-width: $desktop-hd - 1px) {
    margin-bottom: 30px;
  }
}

.members__title {
  margin-bottom: 8px;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.38;

  text-align: center;

  color: var(--main-color);
}

.members__item:not(:last-child) {
  margin-bottom: 64px;
}

.members__position {
  margin-bottom: 30px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--orange-color);
}

.members__box {
  padding-top: 30px;
}

.socials {
  display: flex;
  align-content: center;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: var(--white-color);
    border-radius: 50%;
    transition: background-color var(--trans-duration) var(--timing-function);

    &:hover {
      background-color: var(--white-color);
    }
  }
}

.socials__icon {
  transition: fill var(--trans-duration) var(--timing-function);
  .socials__link:hover & {
    fill: var(--orange-color);
  }
}

// @media screen and (min-width: $desktop) {
//   .work__images {
//     display: flex;
//   }
// }
