.form {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (max-width: $tablet - 1px) {
    padding-left: 31px;
    padding-right: 31px;
    max-width: 480px;
  }
  @media screen and (max-width: $desktop - 1px) {
    margin: 0 auto;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    max-width: 768px;
    padding: 100px 39px;
  }

  @media screen and (min-width: $tablet) {
    &__container {
      display: flex;
      justify-content: space-between;
    }
  }
}
.form {
  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-right: 40px;
  }
}

.form__field {
  @media screen and (min-width: $tablet) {
    &:first-child {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: $desktop) {
    .form__container & {
      width: 270px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    .form__container & {
      width: 330px;
    }
  }
}

.form__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 0 8px;

  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #fff;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  transition: border-bottom-color, var(--trans-duration), var(--timing-function);
}

.form__textarea {
  resize: none;

  letter-spacing: 0.1em;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.form__field {
  display: block;
  margin-bottom: 44px;
}
