.logo {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 4;
  display: inline-block;
  color: #fff;
  @media screen and (max-width: $tablet - 1px) {
    fill: var(--white-color);
  }
  @media screen and (min-width: $tablet) {
    fill: var(--main-color);
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    top: 32px;
    left: 10px;
  }
}
