.container {
  padding-left: 31px;
  padding-right: 31px;

  @media screen and (min-width: $mobile) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

.section {
  @media screen and (min-width: $mobile) {
    max-width: 480px;
  }
  padding: 84px 31px;
  margin-left: auto;
  margin-right: auto;
}
