:root {
  --main-color: #303030;
  --white-color: #fff;
  --orange-color: #ff6c00;
  --link-grey: #9da4bd;
  --link-black: #303030;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --trans-duration: 250ms;
  --text-title-color: #555555;
  --border-color: rgba(157, 164, 189, 0.4);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
$desktop-hd: 1280px;
